<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simplex Local RAG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .cover {
            height: 20rem;
            background: url(/static/simplex-local-rag.png);
            background-size: contain;
        }
        .title {
            text-align: center;
            font-family: monospace;
            font-weight: bold;
        }
    </style>
</head>
<body>
        <div class="text-center cover">
        </div>
    <div class="container mt-5">
        <h1 class="title">Simplex Local LLM</h1>
        <div class="mt-4 text-center">
            <a href="/embed_form" class="btn btn-primary">Enviar PDF para treinamento</a>
            <a href="/query_form" class="btn btn-secondary">Executar Prompts</a>
        </div>
    </div>
</body>
</html>
